/*.color div:hover{
    background-color:#333333;
}
*/
@media (min-height:500px){
.container{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    height: 800px;
}
}
#left{
    text-align: center;
}

#mid {
    
    text-align: center;
    text-decoration: none;
    align-items: center;
    
}

#right {
    text-align: right;
}