.topBar {
    background-color:#333333;  
    
    padding: 15px; 
    display: flex;
    align-items: center;
    justify-content:right;
}
.login {
    margin:10px;
    float: right;
    background-color: orangered;
    color:blanchedalmond;
    font-size: large;
    font-family:"Snap ITC", "Sans Serif";
}

    
.signup {
    margin:10px;
    float: right;
    background-color: orangered;
    color:blanchedalmond;
    font-size: large;
    font-family:"Snap ITC", "Sans Serif";
}
.uInfo{
    float:right;
}
#logo{
    align-self: left;
}